<template>

  <md-card v-if="item.done === false" class="md-accent" md-with-hover >
    <md-ripple>
      <md-card-header>
        <div class="md-title">{{item.description}}</div>
        <div class="md-subhead">{{item.date}}</div>
      </md-card-header>

      <md-card-content v-for=" result in item.notifyUsers" :key="result.id"> A notifier :{{result.displayName}}       </md-card-content>

      <md-card-actions>
        <md-button>Notifier</md-button>
      </md-card-actions>
    </md-ripple>
  </md-card>


    <md-card  v-else-if="item.done === true" class="md-primary" md-theme="green-card" >
      <md-ripple>
        <md-card-header>
          <div class="md-title">{{item.description}}</div>
          <div class="md-subhead">{{item.date}}</div>
        </md-card-header>

        <md-card-content  v-for=" result in item.notifyUsers" :key="result.id"> A notifier :{{result.displayName}}      </md-card-content>

        <md-card-actions>
          <md-button>Notifier</md-button>
        </md-card-actions>
      </md-ripple>
    </md-card>

</template>

<script>
    export default {
        name: "ItemList",
        props: ['item'],
    }
</script>

<style scoped>

</style>
