<template>
  <div>
 <div v-for=" result in results" >
   <div >
   <ItemList v-bind:item="result" :key="result.id" ></ItemList>
   </div>
  </div>
  </div>
</template>

<script>
  import axios from "axios";
  export default {
    name: 'List',

    data () {
      return {
        msg: 'AppTest Hyperlex',
        results:[],
        url: "https://gist.githubusercontent.com/nicolas-t/02ca8d68ccfc13a027b756ae7ad620a9/raw/a494d72626c3ed9b03c86cfa1502a826d57a39cc/alarms.json"
      }
    },
    mounted() {
      axios({ method: "GET", "url": this.url }).then(result => {
        this.results=result.data.data['alarms'];
        console.log(this.results);


      }, error => {
        console.error(error);
      });
    },
  }
</script>

<style scoped>
  :root {
    --md-theme-green-card-primary: #4caf50;
    --md-theme-green-card-accent: #ff5252;
    --md-theme-green-card-theme: "light";
  }

  .md-theme-green-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-green-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-green-card-text-primary-on-accent, #fff);
  }

  .md-theme-green-card a:not(.md-button) {
    color: #4caf50;
    color: var(--md-theme-green-card-primary-on-background, #4caf50);
  }

  .md-theme-green-card a:not(.md-button):hover {
    color: rgba(76, 175, 80, 0.8);
    color: var(--md-theme-green-card-primary-on-background, rgba(76, 175, 80, 0.8));
  }

  .md-theme-green-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-green-card-accent-on-background, #ff5252);
  }

  .md-theme-green-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-green-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  html.md-theme-green-card {
    background-color: #fafafa;
    background-color: var(--md-theme-green-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  .md-theme-green-card .md-caption, .md-theme-green-card
  .md-display-1, .md-theme-green-card
  .md-display-2, .md-theme-green-card
  .md-display-3, .md-theme-green-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-green-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-green-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-green-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-green-card-scrollbar-on-background-variant, #757575);
  }

  :root {
    --md-theme-black-card-primary: #000;
    --md-theme-black-card-accent: #ff5252;
    --md-theme-black-card-theme: "light";
  }

  .md-theme-green-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-green-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-green-card-text-primary-on-accent, #fff);
  }

  .md-theme-black-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-black-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-accent, #fff);
  }

  .md-theme-green-card a:not(.md-button) {
    color: #4caf50;
    color: var(--md-theme-green-card-primary-on-background, #4caf50);
  }

  .md-theme-green-card a:not(.md-button):hover {
    color: rgba(76, 175, 80, 0.8);
    color: var(--md-theme-green-card-primary-on-background, rgba(76, 175, 80, 0.8));
  }

  .md-theme-green-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-green-card-accent-on-background, #ff5252);
  }

  .md-theme-green-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-green-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  .md-theme-black-card a:not(.md-button) {
    color: #000;
    color: var(--md-theme-black-card-primary-on-background, #000);
  }

  .md-theme-black-card a:not(.md-button):hover {
    color: rgba(0, 0, 0, 0.8);
    color: var(--md-theme-black-card-primary-on-background, rgba(0, 0, 0, 0.8));
  }

  .md-theme-black-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-black-card-accent-on-background, #ff5252);
  }

  .md-theme-black-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-black-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  html.md-theme-green-card {
    background-color: #fafafa;
    background-color: var(--md-theme-green-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  html.md-theme-black-card {
    background-color: #fafafa;
    background-color: var(--md-theme-black-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-black-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  .md-theme-green-card .md-caption, .md-theme-green-card
  .md-display-1, .md-theme-green-card
  .md-display-2, .md-theme-green-card
  .md-display-3, .md-theme-green-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-green-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-theme-black-card .md-caption, .md-theme-black-card
  .md-display-1, .md-theme-black-card
  .md-display-2, .md-theme-black-card
  .md-display-3, .md-theme-black-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-black-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-green-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-green-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-green-card-scrollbar-on-background-variant, #757575);
  }

  .md-scrollbar.md-theme-black-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-black-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-black-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-black-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-black-card-scrollbar-on-background-variant, #757575);
  }

  :root {
    --md-theme-purple-card-primary: #9c27b0;
    --md-theme-purple-card-accent: #ff5252;
    --md-theme-purple-card-theme: "light";
  }

  .md-theme-green-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-green-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-green-card-text-primary-on-accent, #fff);
  }

  .md-theme-black-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-black-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-accent, #fff);
  }

  .md-theme-purple-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-purple-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-purple-card-text-primary-on-accent, #fff);
  }

  .md-theme-green-card a:not(.md-button) {
    color: #4caf50;
    color: var(--md-theme-green-card-primary-on-background, #4caf50);
  }

  .md-theme-green-card a:not(.md-button):hover {
    color: rgba(76, 175, 80, 0.8);
    color: var(--md-theme-green-card-primary-on-background, rgba(76, 175, 80, 0.8));
  }

  .md-theme-green-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-green-card-accent-on-background, #ff5252);
  }

  .md-theme-green-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-green-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  .md-theme-black-card a:not(.md-button) {
    color: #000;
    color: var(--md-theme-black-card-primary-on-background, #000);
  }

  .md-theme-black-card a:not(.md-button):hover {
    color: rgba(0, 0, 0, 0.8);
    color: var(--md-theme-black-card-primary-on-background, rgba(0, 0, 0, 0.8));
  }

  .md-theme-black-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-black-card-accent-on-background, #ff5252);
  }

  .md-theme-black-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-black-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  .md-theme-purple-card a:not(.md-button) {
    color: #9c27b0;
    color: var(--md-theme-purple-card-primary-on-background, #9c27b0);
  }

  .md-theme-purple-card a:not(.md-button):hover {
    color: rgba(156, 39, 176, 0.8);
    color: var(--md-theme-purple-card-primary-on-background, rgba(156, 39, 176, 0.8));
  }

  .md-theme-purple-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-purple-card-accent-on-background, #ff5252);
  }

  .md-theme-purple-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-purple-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  html.md-theme-green-card {
    background-color: #fafafa;
    background-color: var(--md-theme-green-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  html.md-theme-black-card {
    background-color: #fafafa;
    background-color: var(--md-theme-black-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-black-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  html.md-theme-purple-card {
    background-color: #fafafa;
    background-color: var(--md-theme-purple-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-purple-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  .md-theme-green-card .md-caption, .md-theme-green-card
  .md-display-1, .md-theme-green-card
  .md-display-2, .md-theme-green-card
  .md-display-3, .md-theme-green-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-green-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-theme-black-card .md-caption, .md-theme-black-card
  .md-display-1, .md-theme-black-card
  .md-display-2, .md-theme-black-card
  .md-display-3, .md-theme-black-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-black-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-theme-purple-card .md-caption, .md-theme-purple-card
  .md-display-1, .md-theme-purple-card
  .md-display-2, .md-theme-purple-card
  .md-display-3, .md-theme-purple-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-purple-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-green-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-green-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-green-card-scrollbar-on-background-variant, #757575);
  }

  .md-scrollbar.md-theme-black-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-black-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-black-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-black-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-black-card-scrollbar-on-background-variant, #757575);
  }

  .md-scrollbar.md-theme-purple-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-purple-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-purple-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-purple-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-purple-card-scrollbar-on-background-variant, #757575);
  }

  :root {
    --md-theme-orange-card-primary: #ff9800;
    --md-theme-orange-card-accent: #ff5252;
    --md-theme-orange-card-theme: "light";
  }

  .md-theme-green-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-green-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-green-card-text-primary-on-accent, #fff);
  }

  .md-theme-black-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-black-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-accent, #fff);
  }

  .md-theme-purple-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-purple-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-purple-card-text-primary-on-accent, #fff);
  }

  .md-theme-orange-card :not(input):not(textarea)::selection {
    background-color: #ff5252;
    background-color: var(--md-theme-orange-card-accent-on-background, #ff5252);
    color: #fff;
    color: var(--md-theme-orange-card-text-primary-on-accent, #fff);
  }

  .md-theme-green-card a:not(.md-button) {
    color: #4caf50;
    color: var(--md-theme-green-card-primary-on-background, #4caf50);
  }

  .md-theme-green-card a:not(.md-button):hover {
    color: rgba(76, 175, 80, 0.8);
    color: var(--md-theme-green-card-primary-on-background, rgba(76, 175, 80, 0.8));
  }

  .md-theme-green-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-green-card-accent-on-background, #ff5252);
  }

  .md-theme-green-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-green-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  .md-theme-black-card a:not(.md-button) {
    color: #000;
    color: var(--md-theme-black-card-primary-on-background, #000);
  }

  .md-theme-black-card a:not(.md-button):hover {
    color: rgba(0, 0, 0, 0.8);
    color: var(--md-theme-black-card-primary-on-background, rgba(0, 0, 0, 0.8));
  }

  .md-theme-black-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-black-card-accent-on-background, #ff5252);
  }

  .md-theme-black-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-black-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  .md-theme-purple-card a:not(.md-button) {
    color: #9c27b0;
    color: var(--md-theme-purple-card-primary-on-background, #9c27b0);
  }

  .md-theme-purple-card a:not(.md-button):hover {
    color: rgba(156, 39, 176, 0.8);
    color: var(--md-theme-purple-card-primary-on-background, rgba(156, 39, 176, 0.8));
  }

  .md-theme-purple-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-purple-card-accent-on-background, #ff5252);
  }

  .md-theme-purple-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-purple-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  .md-theme-orange-card a:not(.md-button) {
    color: #ff9800;
    color: var(--md-theme-orange-card-primary-on-background, #ff9800);
  }

  .md-theme-orange-card a:not(.md-button):hover {
    color: rgba(255, 152, 0, 0.8);
    color: var(--md-theme-orange-card-primary-on-background, rgba(255, 152, 0, 0.8));
  }

  .md-theme-orange-card a:not(.md-button).md-accent {
    color: #ff5252;
    color: var(--md-theme-orange-card-accent-on-background, #ff5252);
  }

  .md-theme-orange-card a:not(.md-button).md-accent:hover {
    color: rgba(255, 82, 82, 0.8);
    color: var(--md-theme-orange-card-accent-on-background, rgba(255, 82, 82, 0.8));
  }

  html.md-theme-green-card {
    background-color: #fafafa;
    background-color: var(--md-theme-green-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  html.md-theme-black-card {
    background-color: #fafafa;
    background-color: var(--md-theme-black-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-black-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  html.md-theme-purple-card {
    background-color: #fafafa;
    background-color: var(--md-theme-purple-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-purple-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  html.md-theme-orange-card {
    background-color: #fafafa;
    background-color: var(--md-theme-orange-card-background-variant, #fafafa);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-orange-card-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  }

  .md-theme-green-card .md-caption, .md-theme-green-card
  .md-display-1, .md-theme-green-card
  .md-display-2, .md-theme-green-card
  .md-display-3, .md-theme-green-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-green-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-theme-black-card .md-caption, .md-theme-black-card
  .md-display-1, .md-theme-black-card
  .md-display-2, .md-theme-black-card
  .md-display-3, .md-theme-black-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-black-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-theme-purple-card .md-caption, .md-theme-purple-card
  .md-display-1, .md-theme-purple-card
  .md-display-2, .md-theme-purple-card
  .md-display-3, .md-theme-purple-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-purple-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-theme-orange-card .md-caption, .md-theme-orange-card
  .md-display-1, .md-theme-orange-card
  .md-display-2, .md-theme-orange-card
  .md-display-3, .md-theme-orange-card
  .md-display-4 {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-orange-card-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-green-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-green-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-green-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-green-card-scrollbar-on-background-variant, #757575);
  }

  .md-scrollbar.md-theme-black-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-black-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-black-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-black-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-black-card-scrollbar-on-background-variant, #757575);
  }

  .md-scrollbar.md-theme-purple-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-purple-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-purple-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-purple-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-purple-card-scrollbar-on-background-variant, #757575);
  }

  .md-scrollbar.md-theme-orange-card::-webkit-scrollbar-corner, .md-scrollbar.md-theme-orange-card::-webkit-scrollbar-track {
    background: #e1e1e1;
    background: var(--md-theme-orange-card-scrollbar-background-on-background-variant, #e1e1e1);
  }

  .md-scrollbar.md-theme-orange-card::-webkit-scrollbar-thumb {
    background: #757575;
    background: var(--md-theme-orange-card-scrollbar-on-background-variant, #757575);
  }

  .md-card.md-theme-green-card {
    background-color: #fff;
    background-color: var(--md-theme-green-card-background, #fff);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-green-card .md-card-expand .md-card-actions {
    background-color: #fff;
    background-color: var(--md-theme-green-card-background, #fff);
  }

  .md-card.md-theme-green-card .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-green-card .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-green-card .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-green-card .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-green-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
    fill: rgba(0, 0, 0, 0.54);
    fill: var(--md-theme-green-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
  }

  .md-card.md-theme-green-card > .md-card-area:after {
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--md-theme-green-card-divider-on-background, rgba(0, 0, 0, 0.12));
  }

  .md-card.md-theme-green-card.md-primary {
    background-color: #4caf50;
    background-color: var(--md-theme-green-card-primary, #4caf50);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-green-card.md-primary .md-card-expand .md-card-actions {
    background-color: #4caf50;
    background-color: var(--md-theme-green-card-primary, #4caf50);
  }

  .md-card.md-theme-green-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-green-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-green-card-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-green-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-green-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-green-card-text-primary-on-primary, rgba(0, 0, 0, 0.54));
    fill: rgba(0, 0, 0, 0.54);
    fill: var(--md-theme-green-card-text-primary-on-primary, rgba(0, 0, 0, 0.54));
  }

  .md-card.md-theme-green-card.md-primary > .md-card-area:after {
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--md-theme-green-card-divider-on-primary, rgba(0, 0, 0, 0.12));
  }

  .md-card.md-theme-green-card.md-accent {
    background-color: #ff5252;
    background-color: var(--md-theme-green-card-accent, #ff5252);
    color: #fff;
    color: var(--md-theme-green-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-green-card.md-accent .md-card-expand .md-card-actions {
    background-color: #ff5252;
    background-color: var(--md-theme-green-card-accent, #ff5252);
  }

  .md-card.md-theme-green-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-green-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: #fff;
    color: var(--md-theme-green-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-green-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-green-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(255, 255, 255, 0.54);
    color: var(--md-theme-green-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
    fill: rgba(255, 255, 255, 0.54);
    fill: var(--md-theme-green-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
  }

  .md-card.md-theme-green-card.md-accent > .md-card-area:after {
    background-color: rgba(255, 255, 255, 0.12);
    background-color: var(--md-theme-green-card-divider-on-accent, rgba(255, 255, 255, 0.12));
  }

  .md-card.md-theme-black-card {
    background-color: #fff;
    background-color: var(--md-theme-black-card-background, #fff);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-black-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-black-card .md-card-expand .md-card-actions {
    background-color: #fff;
    background-color: var(--md-theme-black-card-background, #fff);
  }

  .md-card.md-theme-black-card .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-black-card .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-black-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-black-card .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-black-card .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-black-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
    fill: rgba(0, 0, 0, 0.54);
    fill: var(--md-theme-black-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
  }

  .md-card.md-theme-black-card > .md-card-area:after {
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--md-theme-black-card-divider-on-background, rgba(0, 0, 0, 0.12));
  }

  .md-card.md-theme-black-card.md-primary {
    background-color: #000;
    background-color: var(--md-theme-black-card-primary, #000);
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-primary, #fff);
  }

  .md-card.md-theme-black-card.md-primary .md-card-expand .md-card-actions {
    background-color: #000;
    background-color: var(--md-theme-black-card-primary, #000);
  }

  .md-card.md-theme-black-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-black-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-primary, #fff);
  }

  .md-card.md-theme-black-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-black-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(255, 255, 255, 0.54);
    color: var(--md-theme-black-card-text-primary-on-primary, rgba(255, 255, 255, 0.54));
    fill: rgba(255, 255, 255, 0.54);
    fill: var(--md-theme-black-card-text-primary-on-primary, rgba(255, 255, 255, 0.54));
  }

  .md-card.md-theme-black-card.md-primary > .md-card-area:after {
    background-color: rgba(255, 255, 255, 0.12);
    background-color: var(--md-theme-black-card-divider-on-primary, rgba(255, 255, 255, 0.12));
  }

  .md-card.md-theme-black-card.md-accent {
    background-color: #ff5252;
    background-color: var(--md-theme-black-card-accent, #ff5252);
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-black-card.md-accent .md-card-expand .md-card-actions {
    background-color: #ff5252;
    background-color: var(--md-theme-black-card-accent, #ff5252);
  }

  .md-card.md-theme-black-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-black-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: #fff;
    color: var(--md-theme-black-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-black-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-black-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(255, 255, 255, 0.54);
    color: var(--md-theme-black-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
    fill: rgba(255, 255, 255, 0.54);
    fill: var(--md-theme-black-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
  }

  .md-card.md-theme-black-card.md-accent > .md-card-area:after {
    background-color: rgba(255, 255, 255, 0.12);
    background-color: var(--md-theme-black-card-divider-on-accent, rgba(255, 255, 255, 0.12));
  }

  .md-card.md-theme-purple-card {
    background-color: #fff;
    background-color: var(--md-theme-purple-card-background, #fff);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-purple-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-purple-card .md-card-expand .md-card-actions {
    background-color: #fff;
    background-color: var(--md-theme-purple-card-background, #fff);
  }

  .md-card.md-theme-purple-card .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-purple-card .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-purple-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-purple-card .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-purple-card .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-purple-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
    fill: rgba(0, 0, 0, 0.54);
    fill: var(--md-theme-purple-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
  }

  .md-card.md-theme-purple-card > .md-card-area:after {
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--md-theme-purple-card-divider-on-background, rgba(0, 0, 0, 0.12));
  }

  .md-card.md-theme-purple-card.md-primary {
    background-color: #9c27b0;
    background-color: var(--md-theme-purple-card-primary, #9c27b0);
    color: #fff;
    color: var(--md-theme-purple-card-text-primary-on-primary, #fff);
  }

  .md-card.md-theme-purple-card.md-primary .md-card-expand .md-card-actions {
    background-color: #9c27b0;
    background-color: var(--md-theme-purple-card-primary, #9c27b0);
  }

  .md-card.md-theme-purple-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-purple-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: #fff;
    color: var(--md-theme-purple-card-text-primary-on-primary, #fff);
  }

  .md-card.md-theme-purple-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-purple-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(255, 255, 255, 0.54);
    color: var(--md-theme-purple-card-text-primary-on-primary, rgba(255, 255, 255, 0.54));
    fill: rgba(255, 255, 255, 0.54);
    fill: var(--md-theme-purple-card-text-primary-on-primary, rgba(255, 255, 255, 0.54));
  }

  .md-card.md-theme-purple-card.md-primary > .md-card-area:after {
    background-color: rgba(255, 255, 255, 0.12);
    background-color: var(--md-theme-purple-card-divider-on-primary, rgba(255, 255, 255, 0.12));
  }

  .md-card.md-theme-purple-card.md-accent {
    background-color: #ff5252;
    background-color: var(--md-theme-purple-card-accent, #ff5252);
    color: #fff;
    color: var(--md-theme-purple-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-purple-card.md-accent .md-card-expand .md-card-actions {
    background-color: #ff5252;
    background-color: var(--md-theme-purple-card-accent, #ff5252);
  }

  .md-card.md-theme-purple-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-purple-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: #fff;
    color: var(--md-theme-purple-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-purple-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-purple-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(255, 255, 255, 0.54);
    color: var(--md-theme-purple-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
    fill: rgba(255, 255, 255, 0.54);
    fill: var(--md-theme-purple-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
  }

  .md-card.md-theme-purple-card.md-accent > .md-card-area:after {
    background-color: rgba(255, 255, 255, 0.12);
    background-color: var(--md-theme-purple-card-divider-on-accent, rgba(255, 255, 255, 0.12));
  }

  .md-card.md-theme-orange-card {
    background-color: #fff;
    background-color: var(--md-theme-orange-card-background, #fff);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-orange-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-orange-card .md-card-expand .md-card-actions {
    background-color: #fff;
    background-color: var(--md-theme-orange-card-background, #fff);
  }

  .md-card.md-theme-orange-card .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-orange-card .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-orange-card-text-primary-on-background, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-orange-card .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-orange-card .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-orange-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
    fill: rgba(0, 0, 0, 0.54);
    fill: var(--md-theme-orange-card-text-primary-on-background, rgba(0, 0, 0, 0.54));
  }

  .md-card.md-theme-orange-card > .md-card-area:after {
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--md-theme-orange-card-divider-on-background, rgba(0, 0, 0, 0.12));
  }

  .md-card.md-theme-orange-card.md-primary {
    background-color: #ff9800;
    background-color: var(--md-theme-orange-card-primary, #ff9800);
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-orange-card-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-orange-card.md-primary .md-card-expand .md-card-actions {
    background-color: #ff9800;
    background-color: var(--md-theme-orange-card-primary, #ff9800);
  }

  .md-card.md-theme-orange-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-orange-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: rgba(0, 0, 0, 0.87);
    color: var(--md-theme-orange-card-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  }

  .md-card.md-theme-orange-card.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-orange-card.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(0, 0, 0, 0.54);
    color: var(--md-theme-orange-card-text-primary-on-primary, rgba(0, 0, 0, 0.54));
    fill: rgba(0, 0, 0, 0.54);
    fill: var(--md-theme-orange-card-text-primary-on-primary, rgba(0, 0, 0, 0.54));
  }

  .md-card.md-theme-orange-card.md-primary > .md-card-area:after {
    background-color: rgba(0, 0, 0, 0.12);
    background-color: var(--md-theme-orange-card-divider-on-primary, rgba(0, 0, 0, 0.12));
  }

  .md-card.md-theme-orange-card.md-accent {
    background-color: #ff5252;
    background-color: var(--md-theme-orange-card-accent, #ff5252);
    color: #fff;
    color: var(--md-theme-orange-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-orange-card.md-accent .md-card-expand .md-card-actions {
    background-color: #ff5252;
    background-color: var(--md-theme-orange-card-accent, #ff5252);
  }

  .md-card.md-theme-orange-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent),
  .md-card.md-theme-orange-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
    color: #fff;
    color: var(--md-theme-orange-card-text-primary-on-accent, #fff);
  }

  .md-card.md-theme-orange-card.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
  .md-card.md-theme-orange-card.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
    color: rgba(255, 255, 255, 0.54);
    color: var(--md-theme-orange-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
    fill: rgba(255, 255, 255, 0.54);
    fill: var(--md-theme-orange-card-text-primary-on-accent, rgba(255, 255, 255, 0.54));
  }

  .md-card.md-theme-orange-card.md-accent > .md-card-area:after {
    background-color: rgba(255, 255, 255, 0.12);
    background-color: var(--md-theme-orange-card-divider-on-accent, rgba(255, 255, 255, 0.12));
  }

  .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }

</style>
